<ul id="navbar">
    <li id="nav" class="active"><%= link_to "Home", root_path, class: "link_text" %></li>
    <li id="nav"><%= link_to "About Me", home_about_path, class: "link_text" %></li>
    <li id="nav"><%= link_to "Tasks", home_tasks_path, class: "link_text" %></li>
    <li id="nav"><%= link_to "Tracker", home_tracker_path, class: "link_text" %></li>
    
</ul>




<h1>Alex Corp</h1>