<h2 style="color: black;">Welcome to Task Tracker 9000<sup>TM</sup></h2>


<button class="abutton" style="background-color: chartreuse;">Add Habit</button>
<button class="abutton" style="background-color: mediumturquoise;"> Edit Habit</button>
<button class="abutton" style="background-color: red;">Remove Habit</button>
